body {
  background: #e9e9eb;
}

header {
  width: 100%;
  height: 70px;
  position: fixed;
}

header div {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header div .headerLeft {
  margin: 50px 0 0 0;
  width: 20%;
  position: relative;
}

header div .headerLeft::after {
  content: '';
  display: inline-block;
  clear: both;
}

header div .headerLeft > a {
  color: #e1e1e1;
}

header div .headerLeft > a::after {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  background: #ff3636;
  border-radius: 100%;
  position: absolute;
  left: 30%;
  top: 50%;
  -webkit-transform: translate(-30%, -50%);
          transform: translate(-30%, -50%);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

header div .headerLeft > a:hover {
  color: #555;
}

header div .headerLeft > a:hover::after {
  -webkit-animation: circle 1s infinite;
          animation: circle 1s infinite;
}

@-webkit-keyframes circle {
  0% {
    width: 8px;
    height: 8px;
  }
  20% {
    width: 9px;
    height: 9px;
  }
  100% {
    width: 6px;
    height: 6px;
  }
}

@keyframes circle {
  0% {
    width: 8px;
    height: 8px;
  }
  20% {
    width: 9px;
    height: 9px;
  }
  100% {
    width: 6px;
    height: 6px;
  }
}

header div .headerLeft .gnb {
  float: right;
}

header div .headerLeft .gnb ul li {
  display: inline-block;
  margin-left: 1rem;
}

header div .headerLeft .gnb ul li a:hover {
  color: #ff3636;
}

header div .back_btn {
  width: 0;
  margin: 30px 0 0 0;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

header div .back_btn:hover a {
  color: #ff3636;
}

header div .back_btn a {
  font-family: 'integral_cfheavy';
  color: #ff3636;
}

main {
  width: 100%;
}

main .project_wrap {
  width: 100%;
}

main .project_wrap .top {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  display: table;
}

main .project_wrap .top h1 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-shadow: none;
  font-size: 10rem;
}

main .project_wrap .top div {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 10px solid #fff;
}

main .project_wrap .top div img {
  width: 100%;
  display: block;
}

main .project_wrap .body {
  width: 100%;
  background: #fff;
}

main .project_wrap .body .content {
  width: 50%;
  margin: 0 auto;
  border: 1px solid #fff;
}

main .project_wrap .body .content h2 {
  font-size: 3em;
  margin: 3rem 0;
  font-family: 'Montserrat', sans-serif;
}

main .project_wrap .body .content div {
  width: 100%;
  display: table;
  margin-bottom: 3rem;
}

main .project_wrap .body .content div h3 {
  display: table-cell;
  vertical-align: middle;
  width: 20%;
  font-family: 'Montserrat', sans-serif;
  font-size: .8em;
}

main .project_wrap .body .content div p {
  display: table-cell;
  width: 80%;
  font-size: .8em;
  line-height: 1.5;
}

main .project_wrap .body .content .sitemap ul, main .project_wrap .body .content .responsive ul, main .project_wrap .body .content .language ul {
  display: table-cell;
  width: 80%;
}

main .project_wrap .body .content .sitemap ul li, main .project_wrap .body .content .responsive ul li, main .project_wrap .body .content .language ul li {
  display: inline-block;
  margin-right: 3rem;
  border: 1px solid #e9e9eb;
  padding: .5rem 1rem;
  font-size: .8em;
}

main .project_wrap .body .content .vdo {
  width: 100%;
}

main .project_wrap .body .content .vdo video {
  width: 100%;
}

main .project_wrap .body .mobile {
  width: 100%;
  height: 500px;
  background: url("../img/mobile_krispy.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50%;
  overflow: hidden;
}

.project_list {
  position: fixed;
  left: 10%;
  bottom: 10%;
  border: 1px solid #ff3636;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  padding: 1.3rem 2.1rem;
}

.project_list span {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: #ff3636;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.project_list p {
  position: absolute;
  left: 65%;
  bottom: 18%;
  color: #999;
  font-size: .7em;
  width: 100%;
  background: transparent;
  padding: 1rem .5rem;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.project_list:hover span {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.project_list:hover p {
  color: #333;
  left: 80%;
}
/*# sourceMappingURL=athomeworkouts.css.map */