body {
    overflow: hidden;
}

@keyframes show { 
    100% {
        transform: translateX(0);
    }
}

main {
    width: 100%;
    position: relative;
    // overflow: hidden;
    .popup_contact {
        width: 25%;
        position: absolute;
        left: 20%; top: 0%;
        margin: 0 auto;
        border: 1px solid #e1e1e1;
        border-radius: 10px;
        .inner {
            margin: 3rem auto;
            .contact_top {
                width: 100%;
                margin:  auto;
                h2 {
                    font-family: 'integral_cfheavy';
                    font-size: 1.5rem;
                    color: #ff3636;
                    text-align: center;
                }
            }
            .contact_body {
                width: 100%;
                .profile {
                    margin: 0 auto rem;
                    text-align: center;
                    
                    h2 {
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 100;
                        color: #333;
                        line-height: 3;
                        font-size: .7em;
                    }
                    p {
                        font-family: 'Montserrat', sans-serif;
                        font-size: .7em;
                        font-weight: 100;
                        color: #333;
                    }
                }
                form {
                    width: 70%;
                    margin: 0 auto;
                    overflow: hidden;
                    table {
                        width: 100%;
                        tr {
                            td {
                                input,textarea {
                                    margin-bottom: 1rem;
                                    width: 100%;
                                    border: none;
                                    border-bottom: 1px solid #ff3636;
                                    font-family: 'Montserrat', sans-serif;
                                    font-size: .7em;
                                    letter-spacing: -0.3px;
                                    outline: none;
                                    background: transparent;
                                }
                                textarea {
                                    height: 100px;
                                }
                                input[value=SEND]{
                                    border-bottom: none;
                                    background: #ff3636;
                                    color: #fff;
                                    padding: .5rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        .popup_close {
            width: 10px; height: 6px;
            position: absolute;
            right: 5%; top: 5%;
            span {
                display: inline-block;
                position: absolute;
                width: 10px;
                height: 1px;
                background: #555;
                transition: all .5s;
                &:nth-of-type(1) {
                    top: 50%;
                    transform: translateY(0) rotate(-45deg);
                }
                &:nth-of-type(2) {
                    top: 50%;
                    transform: translateY(-50%);
                    transform: translateY(0) rotate(45deg);
                }
            }
        }
    }
}

