body {
    background: #011832;
    -ms-overflow-style:none;
}
body::-webkit-scrollbar { display:none; }

main {
    width: 100%;
    div {
        width: 100%;
        .main_title {
            width: 100%;
            margin: 10rem auto;
            h1 {
                text-shadow: none;
                text-align: center;
                line-height: .8;
            }
            h2 {
                text-shadow: none;
                text-align: center;
                line-height: .8;
            }

        }
        .click_btn {
            width: 100%;
            margin: 0 auto;
            border-radius: 100%;
                border: 1px solid #ff3636;
            a {
                width: 100%;
                margin: 0 auto;
                text-align: center;
                font-size: .7em;
                color: #ff3636;
                letter-spacing: 5px;
                // padding: 2rem;
            }
        }
    }
}