body {
    -ms-overflow-style:none;
    &.active {
        overflow: hidden;
    }
}
body::-webkit-scrollbar { display:none; }
header {
    div {
        .headerLeft {
            .logo {
                color: #333;
            }
        }
    }
}
    
main {
    width: 100%;
    overflow: hidden;
    position: relative;
    .project_wrap {
        width: 100%;
        .top {
            margin: 0 auto;
            width: 100%; height: 93vh;
            display: table;
            position: relative;
            .scrolling_text {
                display: table-cell;
                vertical-align: middle;
                transform: translateX(300px);
                transition: transform .5s;
                will-change: transform;
                h1 {
                    font-family: 'integral_cfheavy';
                    color: #ff3636;
                    text-align: center;
                    font-size: 15rem;
                }
            }
            .rotate_img {
                position: absolute;
                left: 50vw; top: 30%;
                transform: translate(-50%, -30%);
                img {
                    width: 100%;
                    display: block;
                    border: 10px solid #fff;
                    transition: transform .5s;
                }
            }
        }
        .body {
            width: 100%;
            background: #fff;
            .content {
                width: 60%;
                margin: 0 auto;
                border: 1px solid #fff;
                .title {
                    width: 90%;
                    h2 {
                        display: inline-block;
                        font-size: 3em;
                        margin: 3rem 0;
                        font-family: 'Montserrat', sans-serif;
                    }
                    a {
                        display: inline-block;
                        margin-left: 2rem;
                        font-family: 'Montserrat', sans-serif;
                        font-size: .7em;
                        transform: translateY(0px);
                        padding-bottom: 1px;
                        &:before {
                            content: '';
                            display: block;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 1px;
                            background: #555;
                        }
                    }
                }
                div {
                    width: 100%;
                    display: table;
                    margin-bottom: 3rem;
                    h3 {
                        display: table-cell;
                        vertical-align: middle;
                        width: 20%;
                        font-family: 'Montserrat', sans-serif;
                        font-size: .9em;
                        font-weight: 400;
                    }
                    p {
                        display: table-cell;
                        width: 80%;
                        font-size: .9em;
                        line-height: 1.5;
                    }
                }
                .sitemap, .responsive, .language {
                    ul {
                        display: table-cell;
                        width: 80%;
                        li {
                            display: inline-block;
                            margin-right: 2rem;
                            border: 1px solid #e9e9eb;
                            padding: .5rem 1rem;
                            font-size: .9em;
                            margin-bottom: .5rem;
                        }
                    }
                }
                .solution {
                    dl {
                        dt {
                            color: #ff3636;
                            line-height: 1.5;
                            font-family: 'Montserrat', sans-serif;
                            font-size: .9em;
                            font-weight: 500;
                            margin-bottom: .5rem;
                        }
                        dd {
                            font-size: .9em;
                            line-height: 1.5;
                            margin-bottom: 1rem;}
                    }
                }
                .vdo {
                    width: 100%;
                    video {
                        width: 100%;
                    }
                }
                .mobile {
                    width: 100%;
                    margin: 0 auto;
                    img {
                        width: 100%;
                    }
                }
                .mockup {
                    width: 100%;
                    margin: 0 auto;
                    img {
                        width: 100%;
                    }
                }
            }
            
        }
    }
}

@media (max-width: 1024px) {
    main {
        .project_wrap {
            .top {
                .scrolling_text {
                    h1 {
                        font-size: 12em;
                    }
                }
                .rotate_img {
                    width: 20%;
                    img {
                        width: 100%;
                    }
                }
            }
            .body {
                .content {
                    width: 80%;
                }
            }
        }
    }
}

@media (max-width: 768px) {

    main {
        .project_wrap {
            .top {
                .scrolling_text {
                    h1 {
                        font-size: 12em;
                    }
                }
                .rotate_img {
                    width: 20%;
                    img {
                        width: 100%;
                    }
                }
                .project_list {
                    left: 2%; bottom: 10%;
                }
            }
            .body {
                .content {
                    width: 90%;
                    div {
                        display: block;
                        margin-bottom: 2rem;
                        h3 {
                            display: block;
                            margin-bottom: 1rem; 
                            width: 100%;
                        }
                        p, ul {
                            display: block;
                            width: 100%;
                            li {
                                margin-bottom: .5rem;
                            }
                        }
                        
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    main {
        .project_wrap {
            .top {
                .scrolling_text {
                    vertical-align: top;
                    h1 {
                        font-size: 8em;
                    }
                }
                .rotate_img {
                    left: 50vw; top: 35%;
                    transform: translate(-50%, -35%);
                    img {
                        width: 100%;
                    }
                }
            }
            .body {
                .content {
                    width: 95%;
                    .title {
                        width: 100%;
                        h2 {
                            font-size: 2em;
                            margin: 2rem 0;
                        }
                    }
                    div {
                        margin-bottom: 2rem;
                        p {
                            width: 100%;
                        }
                    }
                    .sitemap, .responsive, .language {
                        ul {
                            display: table-cell;
                            width: 100%;
                            li {
                                display: inline-block;
                                margin-right: 1rem;
                                border: 1px solid #e1e1e1;
                                padding: .5rem 1rem;
                                font-size: .8em;
                            }
                        }
                    }
                }
            }
        }
    }
}
