body {
    -ms-overflow-style:none;
    &.active {
        overflow: hidden;
    }
}
body::-webkit-scrollbar { display:none; }

main {
    width: 100%;
    position: relative;
    overflow: hidden;
    .project {
        width: 90%;
        height: 85vh;
        margin: 0 auto;
        border: 1px solid #e1e1e1;
        overflow: hidden;
        .project_wrap {
            width: 100%; height :100%;
            position: relative;
            .project_txt {
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: fixed;
                left: 4%; top: 50%;
                transform: translateY(-50%);
                z-index: 997;
                width: 100%;
                .number {
                    background: #fff;
                    padding: 1rem 0;
                    text-align: center;
                    font-size: .9em;
                    position: relative;
                    .page {
                        height: 15px;
                        position: absolute;
                        left: 10px; top: 17px;
                        overflow: hidden;
                        p {
                            transition: .5s;
                            text-align: center;
                            mark {
                                background: transparent;
                                color: #ff3636;
                                font-size: 1em;
                                display: block;
                            }
                        }
                    }
                    p {
                        font-size: .8em;
                        &:nth-of-type(1) {
                            display: inline-block;
                        }
                        &:nth-of-type(2) {
                            display: block;
                            text-align: center;
                        }
                    }
                }
                .label {
                    height: 26px;
                    overflow: hidden;
                    position: relative;
                    .label_wrap {
                        transition: .5s;
                        opacity: 1;
                        &.active {
                            animation: ani 1s forwards;
                        }
                        @keyframes ani {
                            0% { opacity:1; }
                            50% { opacity:0; }
                            100% { opacity:1; }
                        }
                        > div {
                            > div {
                                &::after {
                                    content: '';
                                    display: table;
                                    clear: both;
                                }
                                .label_number {
                                    font-size: .7em;
                                    color: #999;
                                    display: table-cell;
                                    opacity: 1;
                                    transition: .5s;
                                    &::after {
                                        content: '';
                                        display: inline-block;
                                        width: 4px; height: 4px;
                                        border-radius: 100%;
                                        background: #ff3636;
                                        vertical-align: middle;
                                        margin: 0 .5rem;
                                    }
                                    &.fade {
                                        opacity: 1;
                                    }
                                }
                                .label_tit {
                                    font-size: .7em;
                                    color: #999;
                                    display: table-cell;
                                    opacity: 1;
                                    transition: .5s;
                                    &.fade {
                                        opacity: 1;
                                    }
                                }
                            }
                            > p {
                                text-align: center;
                                font-size: .7em;
                                color: #999;
                                opacity: 1;
                                transition: .5s;
                                white-space: nowrap;
                                &.fade {
                                    opacity: 1;
                                }
                            }
                        }
                        
                    }
                }
                .title {
                    width: 80%; height: 100%;
                    position: relative;
                    // clip-path: polygon(100% 0, 100% 100%, 0 58%, 0 37%);
                    overflow: hidden;
                    .title_wrap {
                        width: 100%; height: 200%;
                        transition: .5s;
                        // border: 1px solid red;
                        // overflow: hidden;
                        > p {
                            display: block;
                            transition: .5s;
                            white-space: nowrap;
                            &:nth-of-type(1){
                                transform: translateY(100%);
                            }
                            &:nth-of-type(2){
                                transform: translateY(300%);
                            }
                            &:nth-of-type(3){
                                transform: translateY(500%);
                            }
                            > span {
                                display: inline-block;
                                font-size: 5.5rem;
                                color: #ff3636;
                                font-family: 'integral_cfheavy';
                                opacity: 1;
                                transition: all 0.4s ease;
                                &:nth-of-type(2n){
                                    animation-delay:.2s;
                                }
                                &:nth-of-type(3n){
                                    animation-delay:.2s;
                                }
                                animation: animate .5s 1;
                            }
                        }
                    }
                }
            }
            .project_img {
                width: 100%; height: 100%;
                position: relative;
                left: 0; top: 0;
                overflow: hidden;
                .img_wrap {
                    height: 100%;
                    position: relative;
                    transition: .5s;
                    div {
                        width: 100%;
                        position: absolute;
                        left: 30%;
                        transform: translateY(-50%);
                        &:nth-of-type(1) {
                            top: 50%;
                        }
                        &:nth-of-type(2) {
                            top: 150%;
                        }
                        &:nth-of-type(3) {
                            top: 250%;
                        }
                        img {
                            transform: rotate(-5deg);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1440px) {

    main {
        .project {
            .project_wrap {
                .project_txt {
                    .title {
                        width: 90%;
                        .title_wrap {
                            > p {
                                
                                > span {
                                    display: inline-block;
                                    font-size: 5rem;
                                    color: #ff3636;
                                    font-family: 'integral_cfheavy';
                                    opacity: 1;
                                    transition: all 0.4s ease;
                                    &:nth-of-type(2n){
                                        animation-delay:.2s;
                                    }
                                    &:nth-of-type(3n){
                                        animation-delay:.2s;
                                    }
                                    animation: animate .5s 1;
                                }
                            }
                        }
                    }
                }
                .project_img {
                    .img_wrap {
                        div {
                            width: 40%;
                            &:nth-of-type(1) {
                                top: 50%;
                            }
                            &:nth-of-type(2) {
                                top: 150%;
                            }
                            &:nth-of-type(3) {
                                top: 250%;
                            }
                            img {
                                width: 100%;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 1024px) {

    main {
        .project {
            width: 95%;
            overflow: hidden;
            .project_wrap {
                .project_txt {
                    left: 1%;
                    .title {
                        width: 70%;
                        .title_wrap {
                            > p {
                                > span {
                                    display: inline-block;
                                    font-size: 3.5rem;
                                    color: #ff3636;
                                    font-family: 'integral_cfheavy';
                                    opacity: 1;
                                    transition: all 0.4s ease;
                                    &:nth-of-type(2n){
                                        animation-delay:.2s;
                                    }
                                    &:nth-of-type(3n){
                                        animation-delay:.2s;
                                    }
                                    animation: animate .5s 1;
                                }
                            }
                        }
                    }
                }
                .project_img {
                    .img_wrap {
                        div {
                            width: 50%;
                            left: 30%;
                            img {
                                width: 100%;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {

    main {
        .project {
            width: 95%;
            .project_wrap {
                .project_txt {
                    left: 1%;
                    .number {
                        display: none;
                    }
                    .label {
                        position: absolute;
                        left: 10%; top: -70%;
                    }
                    .title {
                        width: 100%;
                        margin: 0 auto;
                        .title_wrap {
                            > p {
                                text-align: center;
                                > span {
                                    display: inline-block;
                                    font-size: 3rem;
                                    color: #ff3636;
                                    font-family: 'integral_cfheavy';
                                    opacity: 1;
                                    transition: all 0.4s ease;
                                    &:nth-of-type(2n){
                                        animation-delay:.2s;
                                    }
                                    &:nth-of-type(3n){
                                        animation-delay:.2s;
                                    }
                                    animation: animate .5s 1;
                                }
                            }
                        }
                    }
                }
                .project_img {
                    .img_wrap {
                        div {
                            width: 60%;
                            left: 20%;
                            img {
                                width: 100%;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {

    main {
        .project {
            width: 95%;
            .project_wrap {
                .project_txt {
                    left: 0%;
                    .label {
                        position: absolute;
                        left: 10%; top: -100%;
                    }
                    .title {
                        width: 100%;
                        .title_wrap {
                            > p {
                                text-align: center;
                                > span {
                                    display: inline-block;
                                    font-size: 2.2rem;
                                    color: #ff3636;
                                    font-family: 'integral_cfheavy';
                                    opacity: 1;
                                    transition: all 0.4s ease;
                                    &:nth-of-type(2n){
                                        animation-delay:.2s;
                                    }
                                    &:nth-of-type(3n){
                                        animation-delay:.2s;
                                    }
                                    animation: animate .5s 1;
                                }
                            }
                        }
                    }
                }
                .project_img {
                    .img_wrap {
                        div {
                            width: 80%;
                            left: 10%;
                            img {
                                width: 100%;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}