body {
  overflow: hidden;
}

main {
  width: 100%;
  position: relative;
}

main .project {
  width: 90%;
  height: 85vh;
  margin: 0 auto;
  border: 1px solid #e1e1e1;
  overflow: hidden;
}

main .project .project_wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

main .project .project_wrap .project_txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  left: 4%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 997;
  width: 100%;
}

main .project .project_wrap .project_txt .number {
  background: #fff;
  padding: 1rem 0;
  text-align: center;
  font-size: .9em;
  position: relative;
}

main .project .project_wrap .project_txt .number .page {
  height: 15px;
  position: absolute;
  left: 10px;
  top: 17px;
  overflow: hidden;
}

main .project .project_wrap .project_txt .number .page p {
  -webkit-transition: .5s;
  transition: .5s;
  text-align: center;
}

main .project .project_wrap .project_txt .number .page p mark {
  background: transparent;
  color: #ff3636;
  font-size: 1em;
  display: block;
}

main .project .project_wrap .project_txt .number p {
  font-size: .8em;
}

main .project .project_wrap .project_txt .number p:nth-of-type(1) {
  display: inline-block;
}

main .project .project_wrap .project_txt .number p:nth-of-type(2) {
  display: block;
  text-align: center;
}

main .project .project_wrap .project_txt .label {
  height: 26px;
  overflow: hidden;
  position: relative;
}

main .project .project_wrap .project_txt .label .label_wrap {
  -webkit-transition: .5s;
  transition: .5s;
}

main .project .project_wrap .project_txt .label .label_wrap > div > div::after {
  content: '';
  display: table;
  clear: both;
}

main .project .project_wrap .project_txt .label .label_wrap > div > div .label_number {
  font-size: .7em;
  color: #999;
  display: table-cell;
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
}

main .project .project_wrap .project_txt .label .label_wrap > div > div .label_number::after {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: #ff3636;
  vertical-align: middle;
  margin: 0 .5rem;
}

main .project .project_wrap .project_txt .label .label_wrap > div > div .label_number.fade {
  opacity: 1;
}

main .project .project_wrap .project_txt .label .label_wrap > div > div .label_tit {
  font-size: .7em;
  color: #999;
  display: table-cell;
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
}

main .project .project_wrap .project_txt .label .label_wrap > div > div .label_tit.fade {
  opacity: 1;
}

main .project .project_wrap .project_txt .label .label_wrap > div > p {
  text-align: center;
  font-size: .7em;
  color: #999;
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
}

main .project .project_wrap .project_txt .label .label_wrap > div > p.fade {
  opacity: 1;
}

main .project .project_wrap .project_txt .title {
  width: 80%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

main .project .project_wrap .project_txt .title .title_wrap {
  width: 100%;
  height: 200%;
  -webkit-transition: .5s;
  transition: .5s;
}

main .project .project_wrap .project_txt .title .title_wrap > p {
  display: block;
  -webkit-transition: .5s;
  transition: .5s;
  white-space: nowrap;
}

main .project .project_wrap .project_txt .title .title_wrap > p:nth-of-type(1) {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

main .project .project_wrap .project_txt .title .title_wrap > p:nth-of-type(2) {
  -webkit-transform: translateY(300%);
          transform: translateY(300%);
}

main .project .project_wrap .project_txt .title .title_wrap > p:nth-of-type(3) {
  -webkit-transform: translateY(500%);
          transform: translateY(500%);
}

main .project .project_wrap .project_txt .title .title_wrap > p > span {
  display: inline-block;
  font-size: 5.5rem;
  color: #ff3636;
  font-family: 'integral_cfheavy';
  opacity: 1;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-animation: animate .5s 1;
          animation: animate .5s 1;
}

main .project .project_wrap .project_txt .title .title_wrap > p > span:nth-of-type(2n) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

main .project .project_wrap .project_txt .title .title_wrap > p > span:nth-of-type(3n) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

main .project .project_wrap .project_img {
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  top: 0;
  overflow: hidden;
}

main .project .project_wrap .project_img .img_wrap {
  height: 100%;
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
}

main .project .project_wrap .project_img .img_wrap div {
  width: 100%;
  position: absolute;
  left: 30%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main .project .project_wrap .project_img .img_wrap div:nth-of-type(1) {
  top: 50%;
}

main .project .project_wrap .project_img .img_wrap div:nth-of-type(2) {
  top: 150%;
}

main .project .project_wrap .project_img .img_wrap div:nth-of-type(3) {
  top: 250%;
}

main .project .project_wrap .project_img .img_wrap div img {
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

@media (max-width: 1440px) {
  main .project .project_wrap .project_txt .title {
    width: 90%;
  }
  main .project .project_wrap .project_txt .title .title_wrap > p > span {
    display: inline-block;
    font-size: 5rem;
    color: #ff3636;
    font-family: 'integral_cfheavy';
    opacity: 1;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-animation: animate .5s 1;
            animation: animate .5s 1;
  }
  main .project .project_wrap .project_txt .title .title_wrap > p > span:nth-of-type(2n) {
    -webkit-animation-delay: .2s;
            animation-delay: .2s;
  }
  main .project .project_wrap .project_txt .title .title_wrap > p > span:nth-of-type(3n) {
    -webkit-animation-delay: .2s;
            animation-delay: .2s;
  }
  main .project .project_wrap .project_img .img_wrap div {
    width: 40%;
  }
  main .project .project_wrap .project_img .img_wrap div:nth-of-type(1) {
    top: 50%;
  }
  main .project .project_wrap .project_img .img_wrap div:nth-of-type(2) {
    top: 150%;
  }
  main .project .project_wrap .project_img .img_wrap div:nth-of-type(3) {
    top: 250%;
  }
  main .project .project_wrap .project_img .img_wrap div img {
    width: 100%;
    display: block;
  }
}

@media (max-width: 1024px) {
  main .project {
    width: 95%;
  }
  main .project .project_wrap .project_txt .title {
    width: 70%;
  }
  main .project .project_wrap .project_txt .title .title_wrap > p > span {
    display: inline-block;
    font-size: 3.5rem;
    color: #ff3636;
    font-family: 'integral_cfheavy';
    opacity: 1;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-animation: animate .5s 1;
            animation: animate .5s 1;
  }
  main .project .project_wrap .project_txt .title .title_wrap > p > span:nth-of-type(2n) {
    -webkit-animation-delay: .2s;
            animation-delay: .2s;
  }
  main .project .project_wrap .project_txt .title .title_wrap > p > span:nth-of-type(3n) {
    -webkit-animation-delay: .2s;
            animation-delay: .2s;
  }
  main .project .project_wrap .project_img .img_wrap div {
    width: 50%;
    left: 30%;
  }
  main .project .project_wrap .project_img .img_wrap div img {
    width: 100%;
    display: block;
  }
}

@media (max-width: 768px) {
  main .project {
    width: 95%;
    border: 1px solid #e1e1e1;
  }
  main .project .project_wrap .project_txt {
    left: 1%;
  }
  main .project .project_wrap .project_txt .label {
    display: none;
  }
  main .project .project_wrap .project_txt .title {
    width: 90%;
  }
  main .project .project_wrap .project_txt .title .title_wrap > p {
    text-align: center;
  }
  main .project .project_wrap .project_txt .title .title_wrap > p > span {
    display: inline-block;
    font-size: 3rem;
    color: #ff3636;
    font-family: 'integral_cfheavy';
    opacity: 1;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-animation: animate .5s 1;
            animation: animate .5s 1;
  }
  main .project .project_wrap .project_txt .title .title_wrap > p > span:nth-of-type(2n) {
    -webkit-animation-delay: .2s;
            animation-delay: .2s;
  }
  main .project .project_wrap .project_txt .title .title_wrap > p > span:nth-of-type(3n) {
    -webkit-animation-delay: .2s;
            animation-delay: .2s;
  }
  main .project .project_wrap .project_img .img_wrap div {
    width: 60%;
    left: 20%;
  }
  main .project .project_wrap .project_img .img_wrap div img {
    width: 100%;
    display: block;
  }
}

@media (max-width: 480px) {
  main .project {
    width: 95%;
    border: 1px solid #e1e1e1;
  }
  main .project .project_wrap .project_txt {
    left: 0%;
  }
  main .project .project_wrap .project_txt .number {
    display: none;
  }
  main .project .project_wrap .project_txt .label {
    display: none;
  }
  main .project .project_wrap .project_txt .title {
    width: 100%;
  }
  main .project .project_wrap .project_txt .title .title_wrap > p {
    text-align: center;
  }
  main .project .project_wrap .project_txt .title .title_wrap > p > span {
    display: inline-block;
    font-size: 2.2rem;
    color: #ff3636;
    font-family: 'integral_cfheavy';
    opacity: 1;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-animation: animate .5s 1;
            animation: animate .5s 1;
  }
  main .project .project_wrap .project_txt .title .title_wrap > p > span:nth-of-type(2n) {
    -webkit-animation-delay: .2s;
            animation-delay: .2s;
  }
  main .project .project_wrap .project_txt .title .title_wrap > p > span:nth-of-type(3n) {
    -webkit-animation-delay: .2s;
            animation-delay: .2s;
  }
  main .project .project_wrap .project_img .img_wrap div {
    width: 80%;
    left: 10%;
  }
  main .project .project_wrap .project_img .img_wrap div img {
    width: 100%;
    display: block;
  }
}
/*# sourceMappingURL=work.css.map */